.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media only screen and (min-width: 320px) {

  /* Small screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

  /* Small screen, retina, stuff to override above media query */
  
}

@media only screen and (max-width: 800px) {
  
  /* Medium screen, non-retina */
}

@media
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 800px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 800px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 800px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 800px),
only screen and (                max-resolution: 192dpi) and (max-width: 800px),
only screen and (                max-resolution: 2dppx)  and (max-width: 800px) { 
  /* Medium screen, retina, stuff to override above media query */
  /* sidebar  */
  .my-pusher{
    width: 95vw !important;
  }
}

@media only screen and (min-width: 1300px) {

  /* Large screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

  /* Large screen, retina, stuff to override above media query */

}
@font-face {
  font-family: averta;
  src: url(./assets/fonts/averta.otf);
}
@font-face {
  font-family: averta-bold;
  src: url(./assets/fonts/bold.otf);
}
@font-face {
  font-family: averta-light;
  src: url(./assets/fonts/light.otf);
}
@font-face {
  font-family: averta-semibold;
  src: url(./assets/fonts/semibold.otf);
}  

* {
  font-family: averta;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.exam-header-theme {
background: rgba(28,28,28,1);
background: linear-gradient(to top, #434343, #333333, #242424, #161616, #000000);color: white;
background: -moz-linear-gradient(to top, #434343, #333333, #242424, #161616, #000000);color: white;
background: -webkit-linear-gradient(to top, #434343, #333333, #242424, #161616, #000000);color: white;
background: -o-linear-gradient(to top, #434343, #333333, #242424, #161616, #000000);color: white;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#4c4c4c', GradientType=0 );
color: white;
}

.app-header{
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0;
  font-family: averta-semibold !important;
}
.title-name{
    font-size: 1.14em;
    font-weight: bold;
    margin-left: 0.3em;
}

.display-name{
  font-size: 1.34em;
  font-weight: bold;
  margin-left: 0.6em;
  line-height: 1.37em;
}
.exam-header-sticky{
  position: -webkit-sticky; /* Safari */
  position: -moz-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.exam-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: averta-semibold !important;
  align-items: center;
  height: 60px; 
  z-index: 2500;
}

.exam-footer-theme {
  background: rgba(28,28,28,1);
  background: linear-gradient(to bottom, #434343, #333333, #242424, #161616, #000000);color: white;
  background: -moz-linear-gradient(to bottom, #434343, #333333, #242424, #161616, #000000);color: white;
  background: -webkit-linear-gradient(to bottom, #434343, #333333, #242424, #161616, #000000);color: white;
  background: -o-linear-gradient(to bottom, #434343, #333333, #242424, #161616, #000000);color: white;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#4c4c4c', GradientType=0 );
  color: white;
  text-align: middle;
  }

.exam-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px; 
}


.exam-content, .question {
  background: #F5F5F5;
  min-height: calc(100vh - 110px);
}

.question .question-header {
  background: #F0FFFF;
  color: #0099CC;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  position:'fixed' !important;
  top: 60px;
  right:0px; 
}

.question-container{
  padding-left: 0.56em;
  padding-right: 0.56em;
  padding-top: 1.674em;
}

.question .question-question{
  font-family: averta-bold !important;
}

.question .question-choice {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.22em;
  line-height: 1.436em;
}

.question .question-choices {
  min-height: 80%;
}
.question .question-section, .user{
  margin-left: 0.56em;
  margin-right: 0.56em;
}
.question-header-right{
  margin-right: 0.56em;
}

.question-content{
  margin:  0px 1.4em;
  margin-bottom: 55px !important; 
}
@media only screen and (max-width: 768px){
.question-content {
  width: 95vw !important;
  
}
.question-actions {
  display: none;
}

}

@media only screen and (min-width: 769px) and (max-width: 991px){
  .question-content {
    width: 90vw !important;
  }
}

@media only screen and (min-width: 992px){
  .question-content {
    width: 80vw !important;
  }
}

.logout{
  color: white !important;
}
.timer {
  border-color: white;
  padding: 0.52em;
  width: 9em;
  margin-right: 0.5rem;
  border-radius: .28571429rem;
}

.timer-background, .logout{
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ) !important; /* IE6-9 */}


.timer .timer-duration{
  font-size: 0.85rem;
}

.timer .timer-counter{
  font-size: 20pt;
  font-family: averta-bold !important;
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  width: 1.4em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
@media only screen and (min-width: 800px) {
.tooltip:hover .tooltiptext {
  visibility: visible;
}
}

.traverse-button {
  background: #0099CC !important;
  transition: background-color .3s;
  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
}
.traverse-button:hover{
  background: rgb(0, 143, 204) !important;
}
.traverse-button:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.traverse-button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .35s ease-out, padding-top .35s ease-out;
}



.sidebar{
  background: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* @media only screen (max-width: 800px){

} */

.hamburger{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hamburger::before{
  margin-left: 2vw !important;
  content: '';

}

.review-icon{
  float: right;
  margin: 0 0 0 1em;
}
.check-icon{
  float: left;
  margin: 0 1em 0 0;
}

.ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .self-pusher {
  width: calc(100vw - 260px - 0.2em);
}
.pushable > .self-pusher {
  transition: transform 0.5s ease, -webkit-transform 0.5s ease, width 0.01s ease, -webkit-width 0.01s ease;
}
.push-container{
  background-color: #f5f5f5 !important; 
}
.score-screen{
display: flex;
min-height: 100vh;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(to right top, #93a5cf, #94bcd6, #a7cfd9, #c4e0dd, #e4efe9);
background: -webkit-linear-gradient(to right top, #93a5cf, #94bcd6, #a7cfd9, #c4e0dd, #e4efe9);
background: -moz-linear-gradient(to right top, #93a5cf, #94bcd6, #a7cfd9, #c4e0dd, #e4efe9);
background: -o-linear-gradient(to right top, #93a5cf, #94bcd6, #a7cfd9, #c4e0dd, #e4efe9);
}

.graph{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px){   
.graph {
  width: 90vw;
  height: 60vw;
}
  }
  
@media only screen and (min-width: 769px) and (max-width: 991px){
    .graph {
      width: 60vw;
      height: 40vw;
    }
  }
  
@media only screen and (min-width: 992px){
    .graph {
      width: 48vw;
      height: 32vw;
    }
  }

.result{
  font-size: 1.86em;
  margin-bottom: 1em;
  margin-top: calc(60px + 0.537em);
}
.score-total{
 font-size: 1.567em;
 margin-top: 1em;
 margin-bottom: 0.34em;
}
.result,.score-total{
  color: white; 
  font-weight: bolder;
}

.section-custom{
  padding-top: 0 !important;
}

.list-section{
  background: #F5F5F5;
  border-bottom: 0.23em solid  #F5F5F5;
  padding-top: 0.89em;
  padding-bottom: 0.89em; 
  font-family: averta-bold !important;
  font-size: 1.166em;
}

.list-section:nth-last-child(1) {
  margin-bottom: 0;
}
.list-section:before{
  content: ' ';
  margin-left: 0.361em
}

.list-custom-item{
  font-family: averta-thin !important;
  font-size: 1.237em;
  font-weight: 500;
}

.list-section, .list-custom-item{
  text-align: left;
}

.question-choice > label {
  font-size: 1.92em;
}
/* 
.list-section .list-section:nth-last-child(1) {
  border-bottom: 0;
} */

.sidebar {
  padding-top: 0.23em;
}
.sidebar-controls{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: white;
}
/* .hamburger {
  color: white;
  font-size: 2em;
  display: block;
  margin: 15% auto;
  width: 45px;
  transition: transform .3s ease;
  transform-origin: 25% 50%;
}
.hamburger:before {
  content: "\2630";
}
.hamburger.hamburger-close {
  transform: rotate(-180deg);
}
.hamburger.hamburger-close:before {
  content: "\2715";
} */